@model ProjetoMarte.Models.CoordenadasModel
@{
    ViewBag.Title = "Entrada";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/Formatacao.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/Coordenadas.js")" type="text/javascript"></script>
</head>
<body>

    <div id="Entrada" class="container-fluid">

        <h3 class="page-header">Definir o tamanho da malha</h3>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Eixo X</label>
                @Html.TextBoxFor(model => model.EntradaX, new { @class = "form-control", onkeyup = "mascara(this,0);", placeholder = "Digite o valor", required = "required" })

            </div>
            <div class="form-group col-md-2">
                <label>Eixo Y</label>
                @Html.TextBoxFor(model => model.EntradaY, new { @class = "form-control", onkeyup = "mascara(this,0);", placeholder = "Digite o valor", required = "required" })
            </div>
        </div>


        <h3 class="page-header">Lista de Sondas</h3>

        <div class="row">
            <div class="form-group col-md-2">
                <label>Posição Inicial X</label>
                @Html.TextBoxFor(model => model.PosicaoInicialX, new { @class = "form-control", onkeyup = "mascara(this,0);", placeholder = "Digite o valor" })

            </div>
            <div class="form-group col-md-2">
                <label>Posição Inicial Y</label>
                @Html.TextBoxFor(model => model.PosicaoInicialY, new { @class = "form-control", onkeyup = "mascara(this,0);", placeholder = "Digite o valor" })
            </div>

            <div class="form-group col-md-2">
                <label>Direção Inicial</label>
                @Html.TextBoxFor(model => model.DirecaoInicial, new { @class = "form-control", onkeyup = "mascara(this,2);", placeholder = "Digite a posição inicial", maxlength = "1" })
            </div>


            <div class="form-group col-md-3">
                <label>Sequência de movimento</label>
                @Html.TextBoxFor(model => model.Movimento, new { @class = "form-control", onkeyup = "mascara(this,1);", placeholder = "Digite movimento" })
            </div>

            <div class="form-group col-md-2">
                <br />
                <input value="Adicionar Sonda" type="button" id="AdicionarNovaSonda" class="btn btn-success" onclick="javascript:adicionarSonda();" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="button" name="submit" id="submit" value="Salvar" class="btn btn-info" onclick="javascript:submit();" />
                @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

</body>
</html>